@charset "utf-8";
/* CSS Document */
#main{ width:1005px; height:auto; background-color:#FFF; margin:0px auto;}
.black{ width:978px; height:27px; margin:0px auto; margin-top:100px;}
.black a{ color:#666; font-size:15px; font-family:"微软雅黑"; text-align:right; line-height:27px; margin-left:5px;}
.Two{ width:978px; height:38px; margin:0px auto; background:url(../images/Two%20navigation.png);); margin-top:10px;}
.Two ul{ margin-left:5px;}
.Two li{ float:left; font-size:13px; font-family:"微软雅黑"; color:#FFF; text-align:center; line-height:38px; width:114px;
height:38px; list-style-type:none;}
.Secondmenu1{ color:#555; text-decoration:none;}
a.current2{font-weight:bold;  color:#555; text-decoration:none;}
.Secondmenu2 a:link{ color:#FFF; text-decoration:none;}
.Secondmenu2 a:visited{ color:#FFF; text-decoration:none;}	
.Secondmenu2 a:hover{ color:#555; text-decoration:none;}
.Secondmenu2 a:active{ color:#555; text-decoration:none;}

.about{ width:978px; height:120px; margin:0px auto; margin-top:20px;}
.about ul{ width:500; height:30px;}
.about li{ float:left; list-style-type:none; line-height:30px; margin-left:10px; text-align:center; font-size:15px; font-family:"微软雅黑";}
.about a{ font-size:13px; color:#9d9d9d; font-family:"宋体"; margin-top:10px; line-height:20px; }
.intorduction{ width:978px; height:auto; margin:0px auto; margin-top:10px;}
.intorduction ul{ width:500; height:30px;}
.intorduction li{ float:left; list-style-type:none; line-height:30px; margin-left:10px; text-align:center; font-size:15px; font-family:"微软雅黑";}
.intorduction a{ font-size:13px; color:#9d9d9d; font-family:"宋体"; margin-top:10px; line-height:20px; }
.img{ margin-top:5px; margin-left:15px;}
.value{ width:978px; height:auto; margin:0px auto; margin-top:20px;}
.value ul{ width:500; height:30px;}
.value li{ float:left; list-style-type:none; line-height:30px; margin-left:10px; text-align:center; font-size:15px; font-family:"微软雅黑";}
.value a{ font-size:13px; color:#9d9d9d; font-family:"宋体"; margin-top:10px; line-height:20px; }
.valueon{ width:978px; margin:0px auto; margin-top:15px; height:150px;}
.valueon dd{ float:left; width:230px; height:100px; margin:0px; margin-left:10px;}
.valueon ul{ width:200; height:20px;}
.valueon li{ float:left; list-style-type:none; line-height:20px; margin-left:5px; text-align:center; font-size:15px; font-family:"微软雅黑";}
.valueon a{ font-size:13px; color:#9d9d9d; font-family:"宋体"; margin-top:10px; line-height:20px; }